[2020-07-20 15:13] protocold opened #1 "Thanks for your sharing but info and pictures on Advanced Rework forum are gone"
At the moment it seems like advancedreworks site is dead.

Can you possibly put up the instruction/pictures in a doc in this repo? This would help many of us!

Thank you so much!

[2020-07-23 00:59] protocold opened #2 "AppleGraphicsControl.kext (from Sierra version 3.13) can control brightness even if the dGPU is missing on PCIe"
I have a 820-2915 with r8911 removed(also with nvram variable set), so dGPU is NOT powered and therefore missing on PCIe(can be further confirmed also via lcpci under linux). It was mentioned on the README that
AppleMuxControl.kext will not load when dGPU is missing on. This is true for latest version of AppleMuxControl.kext.

However, when old version of AppleMuxControl.kext (version 3.13, from S

[2020-07-25 19:57] ayilm1 commented on #2
I've already done some work [here](https://docs.google.com/document/d/1YcWvSqTnCxORxAukeaNsgjfpIExGlmHrvPbIPaZTJBQ/edit?usp=sharing) on sniffing the bus activity. This was on the advanced reworks post which you've identified as 404'd now. [Here](http://advancedreworks.com/forum/showthread.php/gmux-bypass-native-brightness-control-3680.html) is a Google cache link. One of my suggestions was to eith

[2020-07-25 20:02] ayilm1 commented on #1
I can move the write-up to the readme, but I don't have time right now. For the time being, here is the via location - 6.37mm from the right, 2.61mm from the bottom.
![20200615_090247](https://user-images.githubusercontent.com/2467074/88465328-743a8600-cf05-11ea-96eb-e97d90d71e3b.jpg)

[2020-07-26 01:54] protocold commented on #2
if i want to overwrite with 10.13 kext, what changes do i need on the gMuxBypass code? Would the PWM version work as is? or need other change (N2 is now high-impedance or other reason)?

[2020-07-26 02:26] ayilm1 commented on #2
The NoPWM version just writes the backlight PWM pin high to set it to max brightness. The PWM version sets the FPGA pin high impedance so the PCH can drive the line instead. Currently neither version would work for what you want. The kext requires there to be an LPC slave on the bus. By reconfiguring the FPGA, you remove the LPC slave that's a part of Apple's original configuration. You would need

[2020-07-26 04:07] protocold commented on #2
Many thanks for your sharing, very much appreciated.

Unfortunately my skillsets is too limited to do what you suggest regarding the LPC slave. I hope the info is useful to someone with the right skills.

[2020-07-26 10:59] #2 closed

[2020-07-28 04:54] Shredplayer opened #3 "Screen flickers from wake"
Prior to gMUX programming on the board i used NVRAM to bypass and screen don't flicker when waking up the machine but after gMUX proramming the screen flickers for a moment when waking up, tried both variants andt same issue.

[2020-07-29 20:40] ayilm1 commented on #3
Why did you try both variants? One is for people that carry out the wire mod, The other is for people who don't and want to use a software-based screen 'dimmer'. Have you done the wire mod on yours?

[2020-07-30 05:39] Shredplayer commented on #3
I did install the 1st variant just to test and flickers, i then decided to do the hardware mod with the 2nd variant and i did enable native brightness but it still flickers from wake, flickers only within a second and after that no more flickers, just the instance from waking up, nvram technique do not have this issue.

[2020-07-30 07:23] ayilm1 commented on #3
Unfortunately I haven't observed this problem on my system. Wake is a quick ramp up in brightness. I don't believe any of the others who have applied this FPGA configuration have reported the issue either. There is another config file (.jedec) floating around on a Russian forum somewhere. I believe this just writes the PWM pin high. So if you want to test with this file, I would disconnect the wir

[2020-08-04 08:24] protocold commented on #1
can you also include what we need to remove from the board temporarily again? google cache is now gone.

[2020-08-04 09:02] ayilm1 commented on #1
Damn, that's a shame. I should have saved the cached version so I didn't have to write everything from scratch again. Oh well, guess I'll have to. As for the inductor you need remove - that's L2406. Removing it keeps the PCH from starting up and consequently clamping the JTAG clock line. Remove it temporarily if you have issues programming the FPGA.

[2020-08-05 17:42] protocold commented on #1
sorry to be a noob, but to clarify do we plug the magsafe or not?

[2020-08-05 17:59] ayilm1 commented on #1
Doesn't matter. As long as it's powered.

[2020-08-05 18:05] protocold commented on #1
ok i take it as you mean the macbook is powered, either by battery or magsafe?

[2020-08-05 18:07] ayilm1 commented on #1
It does matter how you power the machine. As long as it's powered and the FPGA has its 3.3V IO and 1.2V core voltages.

[2020-08-17 16:20] protocold opened #4 "will this possibly work on 820-2850?"
I compared the gmux pin out of the 820-2850 (2010 15") with 820-2915 (2011 15") and found out that the pins are the same (except some minor naming differences).

Would this actually work on the 820-2850? I have a few with defective GPU (no, it isnt faulty C9560 tantalum capacitor)

[2020-08-17 16:30] ayilm1 commented on #4
Possibly? I haven't compared them myself but if you have, your decision if you want to try and flash it. Sounds like you've written the boards off anyway given your reluctance to replace the GPU. So they're in the scrap heap either way right? As far as BGA replacements go, the FPGA is also 'friendlier' compared to the GPU should you want to undo. Also note that if you want brightness control, ther

[2020-08-26 17:15] FilthyPail opened #5 "You can dump original Apple firmware"
Hey, I saw that in your disclaimer you wrote that the original Apple FPGA firmware will be lost, however this is not entirely true. With the Lattice XP2 software, you are able to dump the original firmware, and are able to save it, and use it.

This is not an issue just wanted to share some knowledge. Thanks

[2020-08-27 09:20] ayilm1 commented on #5
Have you actually tried this? XP2 supports readback, yes. However my system had the security bits set so readback would fail. That's why I wrote this disclaimer. If you were able to successfully pull the configuration off it, great! Post here for everyone to use.

[2020-08-27 09:21] ayilm1 commented on #3
Just a heads up. I'll be closing this issue after 30 days since there hasn't been any activity and assume your issue was fixed.

[2020-08-29 02:20] #3 closed

[2020-09-15 21:39] pappal commented on #5
A1286 original backup
[https://yashan.co.in/wp-content/uploads/2020/09/A1286_Ogrinal_GPU.jed](url)

[2020-09-20 11:13] protocold commented on #5
wow! how did you do that?

[2020-09-20 15:37] pappal commented on #5
With help of hw-usb-2a jtag programer

[2020-09-27 19:15] XantheFIN commented on #5
jed is gone.. can reupload?

[2020-09-28 23:03] pappal commented on #5
https://yashan.co.in/wp-content/uploads/2020/09/A1286_Ogrinal_GPU.jed

On Mon, 28 Sep, 2020, 12:45 am XantheFIN, <notifications@github.com> wrote:

[2020-09-29 02:25] protocold commented on #5
@pappal have you tried to flash this backup back onto the board?

[2020-09-29 15:08] pappal commented on #5
Yes its working with gfx chip if gfx chip is ok

On Tue, 29 Sep, 2020, 7:55 am protocold, <notifications@github.com> wrote:

[2020-09-29 16:08] XantheFIN commented on #5
Thanks yeah the original one if you check URL with the mouse click it has url of "https://github.com/ayilm1/gMUXBypass/issues/url"

But i noticed it right after i posted my question so thats why i removed my question. Got by copying the text url what was seeing. Not the hyperlink.

P.S. Done the mod. Does bootcamp work?

[2020-10-01 12:08] protocold commented on #4
Tried and it doesnt work. After flashing the logic board, the fan will just spin up and down. But the problem isnt about JED file but 820-2850 itself, because:

A)If i flash the original GMUX backup from other thread for 820-2915 onto this board and it will work and boot up OK, so the gmux bypass firmware developed for 820-2915 should work in theory.

B)If I disable the GPU power R8911 but keeping

[2020-10-12 16:10] protocold commented on #1
Did you use a file or something to expose the via? What's the best way to do so?

[2020-10-14 00:16] ayilm1 commented on #1
whatever you have on hand that's fine and sharp. A file will mangle this. Would not recommend. I used a scalpel and a hypodermic needle tip.

[2020-10-16 03:10] b0y80 opened #6 "programmin on the lattice"
it seems that my programmer ca not communicate with the fpga chip.  getting a failed to scan board.  soldered good.  tried to flash anyway and get failed to   verfy ID (expected 0x01299043 Read: 0x00000000)  Error check configuration setup.  any suggestions are to what to check in this regards?

thx

[2020-10-16 23:00] ayilm1 commented on #6
did you read this comment in this issue?
https://github.com/ayilm1/gMUXBypass/issues/1#issuecomment-668476990

[2020-10-22 02:46] b0y80 commented on #6
ive read it, just wanted to know if the error im getting is related to the l2406 or if it was possibly a bad programmer or wiring.  from the videos ive seen, most seem to at least detect the fpga and its just the failure of the programming part.  While mine cant even seem to see the fpga chip.

[2020-10-22 02:49] ayilm1 commented on #6
if you've lifted L2406, it's either going to be your programmer or your connection to the board.

[2020-10-22 05:45] b0y80 commented on #6
just waiting on a pair of hot tweezers to arrive b4 i can try removing l2406.

thx for your info

[2020-11-09 12:28] mariobalardin commented on #6
There is no need to remove the L2406 Inductor (coil), just ground the PLT_RESET line, which shuts down the PCH and gains access to gMux without any problems.

[2020-11-09 20:14] b0y80 commented on #6
can you point me to where that spot might be on the board?
thx

[2020-11-09 20:29] mariobalardin commented on #6
The best point would be the resistor R2881 pin1, it lands it in a screw hole closest

[2020-11-09 20:30] mariobalardin commented on #6
Make a jumper with the ground

[2020-11-09 20:31] b0y80 commented on #6
awesome ill give that a shot later thx!

[2020-12-04 22:28] 3comss opened #7 "error file"
![Captura de pantalla 2020-12-04 192644](https://user-images.githubusercontent.com/75506189/101221649-dbf89e80-3666-11eb-9df3-00b7d3cdbd1c.png)

[2020-12-04 22:46] ayilm1 commented on #7
Make sure the file downloaded properly. Otherwise, you can try synthesising from source. If you are using the mod wire, make sure you set USE_PWM = 1 in gMUXBypass.v.

[2020-12-10 20:20] 3comss commented on #7
error in file plz send me you file

[2020-12-18 22:19] 3comss commented on #7
plz

[2020-12-18 22:38] ayilm1 commented on #7
Mate I don't know what to tell you. The file above has worked for everyone else. There are several people on YouTube who have used this repo to fix their machines. Maybe try deleting the repo and redownloading. Or try it on another machine. If that fails, as I recommended above, try to synthesis from the HDL source yourself using diamond.

[2021-01-04 08:38] #1 closed

[2021-02-03 16:34] roddoart opened #8 "New GMUX version with PWM backlight control (BIL button)"
Hello and thank you very much for sharing your knowledge !
Based on your source code, I am currently implementing a new version of the verilog that controls the backlight, generating a variable PWM signal, that can change when pressing the BIL button.
It is still work on going but I should complete it soon.
If you are interested I will be able to share my work (despite the fact that I don't know y

[2021-02-12 07:37] richardstefun commented on #6
I just tried it and it works really well. The fans start running at 100% to indicate that you are in the reset mode. After that the FPGA is detected flawlessly. I connected it to the screw hole next to it without soldering with dupont jumper wire. It has U-shaped pin, so it can hold on to the resistor pin easily without slipping.

I also think that it may be caused because of my aftermarket MagSaf

[2021-02-15 17:17] jacksonium commented on #8
i would love to try it!

[2021-02-16 07:00] roddoart commented on #8
(I am not expert in github at all, so sorry if I am putting things in the wrong areas.)

I have updated my forked repo (https://github.com/roddoart/gMUXBypass) and added :
- the .jed file in the JDEC folder
- detailled info at the end of the README.md

I hope you will be able to pick the .jed in that area and try it.

Feel free to come back to me if you experiment with my design :-)

[2021-02-18 12:01] mischa85 commented on #8
Hi there,

I want to investigate what it would take to write the kext driver to control LCD_BKLT_PWM on the FPGA via LPC. That would save all the soldering needed to restore backlight functionality. For that it would be really handy to have access to your source code.

Would you take a try to post it on here? I know github can be really confusing sometimes.

[2021-02-18 12:41] roddoart commented on #8
Hi,
I have checked-in my file in my forked repo.
There are only 3 files needed :
- The verilog source code : https://github.com/roddoart/gMUXBypass/blob/master/impl1/source/gMUXBypass.v
- The pin allocation file : https://github.com/roddoart/gMUXBypass/blob/master/gMUXBypass.lpf
- The timing constraint for 33MHz clock : https://github.com/roddoart/gMUXBypass/blob/master/impl1/source/timings.sdc

V

[2021-02-18 22:27] richardstefun commented on #8
Looking forward to this solution. Would it be possible to implement BIL long press to set the backlight to maximum brightness?
I think that hunting for maximum brightness value w/ presses would be pretty cumbersome.

[2021-02-18 22:30] richardstefun opened #9 "Is bootcamp useable?"
Hello,

is it possible to use bootcamp with this firmware? I heard that there could be some issues with it. I haven't tried it yet tho..

[2021-02-19 03:18] jacksonium commented on #8
@mischa85 @roddoart
I actually mentioned in another issue: #2 that older version of AppleGraphicsControl.kext would load and talk to the original unflashed gmux to control brightness but of course it wont work after the gmux is flashed with what are experimenting here.

Would is be possible to revisit this and get your code to mimick what the original gmux did in terms of IO? I know this sounds cr

[2021-02-19 04:32] ayilm1 commented on #9
Haven't tried. As far as Mac OS X is concerned, this FPGA config makes the system look like an 820-2936 from a graphics perspective. This is why brightness control works. That signal is present on the PCH, it's just not fanned out on the 2849/50. If it doesn't work, you could try flashing 2936's EFI. This would in theory change the ACPI tables so the system presents as a 2936 to Windows.

[2021-02-19 07:07] roddoart commented on #8
@richardstefun There are many different ways to use a single button to control a complex system ; it is just a matter of specifying the correct behaviour :-) I remember the different press combination available on the last generation ipod shuffle : very complicated and not so convenient.
My implementation does not take into account when the button is released. It means that if you long press the b

[2021-02-19 07:12] roddoart commented on #8
@jacksonium

Well, yes it could be possible. But it will require someone to reverse engineer how the kext talks to the GMux chip (need an original working MBP, logic analyzer, and a lot of patience). Once the communication protocol is found, it will be possible to implement its support inside the GMux FPGA. I think that was approximately the idea of @mischa85.

[2021-02-19 08:24] richardstefun commented on #8
I understand it's not that easy and I appreciate what you did already - I'm just giving you some ideas that could improve the usability of this implementation. I'd really like to help you but my knowledge is currently limited to microcontrollers - I was also thinking about making a custom board for this purpose with little ARM chip and connecting it to some unused USB line, but making it work with

[2021-02-19 08:27] roddoart commented on #8
@richardstefun Ok I understand your point. I'll look into this. BTW, did you try the current implementation on your MBP ?

[2021-02-19 09:31] richardstefun commented on #8
@roddoart I will install it today :)

[2021-02-19 10:16] roddoart commented on #8
@richardstefun Good ! Let me know how it goes ;-)

[2021-02-19 10:23] mischa85 commented on #8
Indeed. But I wasn't even aware of the fact that there is already a kext around which does what we need. The Sierra 10.12.1 AppleMuxControl.kext which controls the gmux even without a GPU on the PCIe. I don't understand what we're still missing and why we're still soldering stuff to control PWM, instead of just implementing the Apple backlight controls back on the FPGA, but I'll take a look myself

[2021-02-19 10:24] roddoart opened #10 "Displayport output ?"
Hi All,
looking again to the FPGA design and the schematics to answer feedbacks in issue #8, I see that the 2 signals that control the DP multiplexer are not driven at all. Electrically speaking, I see no reason why we could not configure the DP Mux (U9220) to route the Integrated Graphics DP up to the DP connector.
Is someone aware of any software restrictions that prevent it ? Maybe the kext fil

[2021-02-19 11:26] richardstefun commented on #10
That sounds interesting. Does it mean that the internal screen would be disabled while using external display?

[2021-02-19 11:28] roddoart commented on #10
I don't think so. LVDS and DP are separate buses.

[2021-02-19 11:36] roddoart commented on #10
Hmm, I found the answer here :
https://github.com/torvalds/linux/blob/master/drivers/platform/x86/apple-gmux.c
(our linux friends already studied that)
 * The external DP port is only fully switchable on the first two unibody
 * MacBook Pro generations, MBP5 2008/09 and MBP6 2010. This is done by an
 * `NXP CBTL06141`_ which is controlled by gmux. It's the predecessor of the
 * eDP mux on retinas,

[2021-02-19 14:29] jacksonium commented on #8
At the moment the kext only talk to the stock gmux chip via some specific protocol. I believe there are some IO addresses that the kext read/write to in order to talk to the gmux chip to do certain things.

ayilm1's code is to re-program the gmux so the igpu is wired directly onto the lvds pins but without a PWM to control the backlight, he introduced a way to use the PWM from the chip, hence you

[2021-02-19 15:09] roddoart commented on #8
I have the same understanding.
Here is what I found on the web :
Linux driver for Gmux : https://github.com/torvalds/linux/blob/master/drivers/platform/x86/apple-gmux.c
-> Apparently the driver reads a constant located in GMUX_PORT_MAX_BRIGHTNESS register inside the Gmux.
-> Based on this info, the driver software can calculate the 16 different values for the brightness
-> Then it writes the GMUX_

[2021-02-19 15:12] richardstefun commented on #8
@roddoart do you have required equipment to sniff the data coming to FPGA pins?

[2021-02-19 15:15] mischa85 commented on #8
I think AppleMuxControl.kext sends it's backlight control (or value) commands over the LPC interface:

![Screenshot 2021-02-19 at 16 09 45](https://user-images.githubusercontent.com/34697699/108522688-65665700-72cd-11eb-8603-53a88052a733.png)
![Screenshot 2021-02-19 at 16 11 20](https://user-images.githubusercontent.com/34697699/108522704-68614780-72cd-11eb-9f00-f4d445b4668d.png)

So using the Sie

[2021-02-19 15:30] richardstefun commented on #8
@mischa85
Is there a chance to reverse engineer the dumped Apple .jed from #5 ?

[2021-02-19 15:38] mischa85 commented on #8
I don't know really. Reverse engineering FPGA sounds quite intense. Simulating might be possible? I figure it's not needed tho as it just seems to me we already know everything we need to know.

[2021-02-19 16:17] jacksonium commented on #8
I agree with this.

I think 0x700 is the base. I also find that the following command can be used to power down(electrically turn off) the AMD chip in the original gmux:

   outb 0x728 1
   outb 0x710 2
   outb 0x740 2
   outb 0x750 0

These were used by some early pioneer that attempted to solve this problem in grub.cfg in order to use the GRUB bootloader to turn off the AMD/Nvidia GPU (electrica

[2021-02-19 17:31] roddoart commented on #8
That's great news ! I can work on the FPGA design next week if you wish.
However, I will not be able to test it since I do not have a working MBP at the moment.
Meanwhile, does someone has the skills to develop some test code on the OS side to perform read/write operations through the LPC ?

[2021-02-19 18:52] richardstefun commented on #8
@roddoart if you want to test your code, just send me a private message(richard.stefun@icloud.com) or post it here. I can give you feedback anytime since I use this as my secondary computer

[2021-02-20 01:11] jacksonium commented on #8
I am not expert.. but can we just use the same outb/inb command?

https://www.systutorials.com/docs/linux/man/1-outb/

[2021-02-20 11:36] jacksonium commented on #8
I have tried to do this in grub command prompt with ubuntu 18.04 usb stick and it works. But then it seems like doing outb to 0x774 doesnt change anything. It is possible that i am not doing the inb correctly.

![File_000 (1)](https://user-images.githubusercontent.com/76935685/108594094-d6336f00-73b2-11eb-8b0d-9d7f98f768f0.jpeg)

I also tested that under ubuntu the brightness control works and I t

[2021-02-21 12:27] roddoart commented on #8
That's a good start ! :-)

I noticed that the linux driver performs 32-bit read operations with inl for the backlight register, not byte. However it performs 4x outb to write the backlight, which is confusing (why not outl ?) Maybe you should perform different trials with inl/outl instead ?

Also, before performing a write operation to the BACKLIGHT register, the driver performs one check :

if (b

[2021-02-21 13:18] jacksonium commented on #8
Did you guys also read in detail about what aylim1 originally did regarding LPC Reverse Engineering?

https://docs.google.com/document/d/1YcWvSqTnCxORxAukeaNsgjfpIExGlmHrvPbIPaZTJBQ/

[2021-02-21 14:59] jacksonium commented on #8
Ok, i have installed full ubuntu 18.04 onto a ssd that I have on a machine with stock gmux.

I then played with the brightess and then do a read (inl) on 0x774 (yes you can do so within a root shell) and here is what I found:

If I start from complete dark, stepping up in brightness each step will yeild:

0, 7135, 14270, 21405, 28540, 35675, 42810, 49945, 57080, 64215, 71350, 78485, 85620, 92755,

[2021-02-21 16:39] roddoart commented on #8
@jacksonium That's good job ! I think we have everything we need to try to mimic this behaviour into our custom-made FPGA.
I'll start to work on a verilog implementation very soon..

Regarding the "interesting" experiments : I think that the current/previous brightness values are back-up  into some separate registers. This somehow correlates with the reverse engineering done by aylim1 (and thanks

[2021-02-22 00:37] jacksonium commented on #8
ok let me try that. I know nothing about FPGA so this need to be rely on you. ;)

[2021-02-22 06:25] jacksonium commented on #8
I tried to do inb/inw on all those 4 addresses and no matter what I change in brightness.. they are all the same:

0x768 = 1
0x76a = 9
0x76c = 1
0x76e = 1

which is similar to some lines in some form of log output (0x76e value was different) in this link mentioned in the LPC reverse engineering doc: [https://pastebin.com/Qgdkm6bZ](url)

I copied here for reference:

--- Jul 28 16:00:45: AGC:: armT

[2021-02-22 07:30] jacksonium commented on #8
This is a bit beyond my head, but It seems like in https://docs.huihoo.com/doxygen/linux/kernel/3.7/drivers_2video_2backlight_2backlight_8c_source.html

bd = container_of(self, struct backlight_device, fb_notif);

...some linux Backlight Lowlevel Control Abstraction stuff maybe?

[2021-02-22 15:55] roddoart commented on #8
Hello guys,

I have no idea...

I agree. The old value is probably stored by the OS

I think it does not matter. We have retro-engineered the 16 steps in MacOs and they are pretty different from the ones applied in Linux. The 20 Linux values are linear, whereas the 16 MacOS values are non-linear (they follow some anti-gamma rules). But this has no effect on the FPGA design itself. The most importa

[2021-02-22 16:09] jacksonium commented on #8
wow.. many thanks..

Please note that under linux the value in 0x770 is different than in macOS.... so i dont think it is a constant from the gmux chip?  This may not matter though given we can have our own implementation as long as it works....Any thoughts?

[2021-02-22 16:10] richardstefun commented on #8
I'm thinking about flashing it and trying it on mac os, but currently I'm running the dosdude1's patched catalina version and I need to find that compatible kext to install

[2021-02-22 16:20] jacksonium commented on #8
at the moment there is no kext for mac for testing.. i dont think the old apple kext would work with this just yet(but you are welcome to try it out, see this: https://forums.macrumors.com/threads/disable-a-failed-amd-gpu-on-a-2011-macbook-pro-grub-solution.2087527/page-8?post=27525770#post-27525770

I suggest to do the test on a bootable usb ubuntu.. but at least this new jed has a default bright

[2021-02-22 17:16] richardstefun commented on #8
I can confirm that executing "outl 0x774 142711" in GRUB sets the brightness to max level. Changing the value changes brightness level. Great job @roddoart :)

Sorry but currently I'm not able to test it with kext file from sierra. Pacifist crashes on my patched Catalina

[2021-02-23 00:02] jacksonium commented on #8
@richardstefun could you try it under ubuntu linux 18.04 (i think 20.04 works too but i havent tried)? no need to install, just create the usb drive and boot it up and you can use the brightness key +/-. See what it does?

[2021-02-23 01:05] jacksonium commented on #8
@richardstefun For kext, you can download from this repo:

https://github.com/stecker870/MacBook-Pro-15-Zoll-late-2011-Graphics-Card-Fix-

I didnt upload this but found on google search, I tried it on my macbook with stock gmux and it works.  Skip the hassle of Pacifist.

Could you also try it under ubuntu linux 18.04 (i think 20.04 works too but i havent tried)? no need to install, just create th

[2021-02-23 01:14] jacksonium commented on #8
![Screenshot 2021-02-23 at 9 07 57 AM](https://user-images.githubusercontent.com/76935685/108790292-47dc0a80-75b7-11eb-8a62-10c213b7a5de.png)

![Screenshot from 2021-02-23 01-26-38](https://user-images.githubusercontent.com/76935685/108791351-c5cbf180-7576-11eb-99e3-159006c9faf8.png)

@roddoart I wonder if there are things that need to be done in order to make OS recognize this as a valid gmux?

L

[2021-02-23 04:51] jacksonium commented on #8
This is probably silly to ask....but you test this after flashing roddoart's LPC jed?

[2021-02-23 06:56] roddoart commented on #8
What we can do is to implement supplementary registers and initialize them with something similar than in the original Gmux.
From the linux driver source I see different version registers :
`#define GMUX_PORT_VERSION_MAJOR		0x04`
`#define GMUX_PORT_VERSION_MINOR		0x05`
`#define GMUX_PORT_VERSION_RELEASE	0x06`

I can recreate these registers but I need their original content.
@jacksonium can you pl

[2021-02-23 08:01] jacksonium commented on #8
inb 0x704 = 1
inb 0x705 = 9
inl 0x706 = 36

FYI. inb 0x706 = 36 also

Let me know if we need to read out any other register value!

[2021-02-23 11:22] roddoart commented on #8
thanks for the testing guys :-)
I implemented a Test2 version, with following modifications :
- MAXBRIGHTNESS (0x770) can now be written, for debug purposes. It is still initialized with 110400d
- VERSION_MAJOR is read-only at 0x704. Value is 1
- VERSION_MINOR is read-only at 0x705. Value is 9
- VERSION_RELEASE is read-only at 0x706. Value is 36

Jed file is named gMUXBypass_LPC_Test2.jed in my fo

[2021-02-23 12:14] jacksonium commented on #8
Many thanks! we should look to disable this or set a min value on this once we done testing as a virus or anything malicious could make the macbook unuseable or dangerous!

@richardstefun do you mind to give this a go? My programmer hasnt arrived yet and in the meantime I keep the gmux at stock to further support grabbing register value etc while we are developing this together.

[2021-02-23 12:45] roddoart commented on #8
@jacksonium good idea. For the next version I will implement a security that will only allow to set a certain range of values in MAXBRIGHTNESS that will ensure PWM frequency stay in spec (something like ~200Hz to ~2KHz). I'll think about it.

[2021-02-23 13:54] jacksonium commented on #8
@roddoart  from apple-gmux.c it said on our macbook 2011 the backlight driver is LP8545. Maybe this datasheet will tell us about the PWM frequency range that should be used?

https://www.ti.com/lit/ds/symlink/lp8545.pdf

[2021-02-23 14:08] roddoart commented on #8
@jacksonium I have quickly read this datasheet. It seems to me that when the PWM signal is provided externaly, it is sampled by the lp8545 with the 5MHz internal clock.

input is anyway clocked with the 5 MHz clock or the PLL clock. PSPWM mode is not possible in this mode. Slope
and dither are not effective in this mode.

So I would say that there is no electrical risks if the GMUX erronously prov

[2021-02-23 14:28] jacksonium commented on #8
you are good.

[2021-02-23 14:55] richardstefun commented on #8
@jacksonium @roddoart

I can test it today.
I might solder on some connector to help me debug it because I'm scared I might break those little pads haha.

[2021-02-23 15:10] richardstefun commented on #8
@jacksonium I do not quite understand what kext from the repo you found should I choose if I'm running Catalina. It contains those two variants. I guess if i want the 10.13 version, I should install the first option?

![image](https://user-images.githubusercontent.com/52629010/108863549-9c9c7700-75f1-11eb-88ab-3456819e6e9d.png)

[2021-02-23 15:16] jacksonium commented on #8
I think both of these works for our purpose in terms of disabled dGPU.

I tested the 10.14x version on catalina and it works.

[2021-02-23 15:24] richardstefun commented on #8
Did you use the Kext Utility to install it?

[2021-02-23 15:32] jacksonium commented on #8
yes I did. please remember to mount / read-write first:

sudo mount -uw /

[2021-02-23 16:00] richardstefun commented on #8
I just flashed the new Test 2 version, and it shows no "gMux version" on system report's Graphics page. The brightness control also does not work. I'll try to reboot to Ubuntu 20.04 and try the display brightness control there

[2021-02-23 16:03] roddoart commented on #8
guys, I should admit that the v2 modifications were so simple that I didn't take time to simulate my design before creating the bitfile. I'll do a little bit of simulation and confirm you if the provided jed file is supposed to be functional...
sorry for that.

[2021-02-23 16:04] richardstefun commented on #8
Ok, I'll leave my macbook open :)

[2021-02-23 16:04] jacksonium commented on #8
any luck with ubuntu yet?

[2021-02-23 16:05] richardstefun commented on #8
Flashing the USB rn...

[2021-02-23 16:06] jacksonium commented on #8
maybe we should use a telegram channel or something as we are doing IM!

[2021-02-23 16:09] richardstefun commented on #8
Yes that would be great

[2021-02-23 16:13] jacksonium commented on #8
This is the telegram channel that I just create:

https://t.me/joinchat/ShJifrfvoUCvDYzQ

[2021-02-23 16:15] richardstefun commented on #8
I think I might not have access to it, I can only view the messages

[2021-02-23 16:16] jacksonium commented on #8
you need to join it right?

[2021-02-23 16:17] richardstefun commented on #8
@roddoart
Ok, I can confirm that the brightness control under Ubuntu works great :)
But I think it might be a little dim. I'm not sure though... Is there some test point that I can measure to determine if the brightness is in reality at 100%?

[2021-02-23 16:18] richardstefun commented on #8
@jacksonium I joined the channel but I can't post any messages
![image](https://user-images.githubusercontent.com/52629010/108873089-23098680-75fb-11eb-8f44-be7cd5224604.png)

[2021-02-23 16:19] jacksonium commented on #8
how does it work? :D this is my first TG channel

[2021-02-23 16:22] roddoart commented on #8
guys,
For the Gmux v2 : simulations show that the version registers do not work properly ; but the brightness is functional, as confirmed by @richardstefun
Another basic lesson (re)learned : always simulate your design before programming it into the FPGA :-)
I'll keep you posted for a Test3 version...

[2021-02-23 16:25] jacksonium commented on #8
we think the channel is not a good idea but i cant figure out how to create a group, without adding you guys as a contact first...

[2021-02-23 16:27] richardstefun commented on #8
@roddoart What about discord? I created this group, maybe you could try to join it. Discord is also accessible from browser

https://discord.gg/NSmzfDgE

[2021-02-23 16:29] jacksonium commented on #8
good idea.. to reduce noise for others.. lets delete all message about telegram to keep this clean.

[2021-02-23 16:57] jacksonium commented on #8
@roddoart we are on discord ;)

[2021-02-23 16:59] roddoart commented on #8
@richardstefun I think this is normal. For the PWM Calibra

[2021-02-23 18:52] jacksonium commented on #8
@roddoart just a thought...we were worrying about the pad ripping off at some point..

so a question for you, did you keep your original implementation without LPC on the design? meaning if we say already have some version from you (eg v2 or v3 etc) flashed and in case the pads have ripped off at some point.. can we just go back with a backup plan to solder GMUX_PL6A to SMC_BIL_BUTTON_L? Or have y

[2021-02-23 18:52] #10 closed

[2021-02-23 18:52] roddoart commented on #10
irrelevant topic

[2021-02-23 18:56] roddoart commented on #8
@jacksonium This is a good point. At the moment I rewrote the implementation for the LPC, and removed the BIL Button. But I could re-add the BIL control in the design, in parralell with the LPC control, in the same design.
Let's plan for a Test3 version that will fix the versions registers, and a Test4 that will have the BIL input back.

[2021-02-23 19:13] jacksonium commented on #8
richard was testing this and he has problem with the max brightness under linux.

He got 0x770 = 43588d in both grub and post-boot which is like 30% of the max (142711d), where 0x774 returns 65535 which is higher than the max?!

this is weird but also explains why he think the screen is dim.

any thoughts?

[2021-02-23 19:45] roddoart commented on #8
well, definitely I have generated this FPGA too quickly...
The initial brightness value (0x774) at boot should be 35675d
The initial maxbrightness value (0x770) at boot should be 110400d
It looks like the FPGA synthesis has destroyed my init values.

I need to come back to the implementation and analyze what has gone wrong with this build.
I will come back to you, hopefully using discord, tomorrow

[2021-03-05 19:18] bacopilot commented on #8
Guys, any progress Made? Curious to know, where you are at...as the last jed-Update by Roddoart was made Last week...thx!

[2021-03-05 19:49] roddoart commented on #8
Hi @bacopilot. We gently progressed last week : we have the backlight register write OK through the LPC bus, but the read is still buggy (certainly timing issues un the FPGA). I will work again on the topic next week. We will keep you posted as soon as we will have a working solution. Also feel free to join the discord if you want fresh news, and perform some tests with us.

[2021-03-05 21:57] bacopilot commented on #8
Sounds Good. Where is the link to discord?

[2021-03-06 01:13] jacksonium commented on #8
scroll up and you should see it.

[2021-03-06 07:10] bacopilot commented on #8
The link is Invalid or Expired...

[2021-03-09 19:12] bacopilot commented on #8
any news? I see, you guys are testing things...any success?

[2021-03-10 07:54] roddoart commented on #8
hello @bacopilot ; LPC read is still not working, despite my correct verilog simulations. I will need to go deeper in the analysis and look at the low level electronic stuff, but I miss time and resources (test board, logic analyzer, etc...) at the moment.
If you have knowledge on verilog and FPGA synthesis, or if you want to participate to the debugging, your help will be welcome.
Here is a perma

[2021-03-13 18:01] bacopilot commented on #8
@roddoart : I only have the programmer with the pogo-pins to Flash on a 17‘ inch MacBook. If you Tell me how and what to debug, i can Try.
BTW. I am on discord now

[2021-04-02 22:33] Sjenja87 opened #12 "New GMUX version with screen backlight control through the original brightness keys (F1 and F2)"
Hello and many thanks for starting the open source project in the first place!
I have implemented a working version of on the back of yours and Romain verilog code, where its possible to use the brightness keys F1 and F2 to control the screen brightness without scraping into the U1800, with a simple 1 wire and 1 resistor mod.
Sjenja87

[2021-04-10 13:47] Benedolt commented on #12
Hi Sjenja87, that sounds really interesting! Would you mind sharing your work?

[2021-04-10 15:30] Sjenja87 commented on #12
Its on my github

[2021-04-10 17:47] Benedolt commented on #12
Awesome, thanks!

[2021-04-10 19:02] roddoart commented on #12
@Sjenja87 This is really a great job ! Congratulations !
As you are familiar with Verilog code (which is pretty rare), we could maybe try to work together to have the « real » Behavior with LPC interface support in the FPGA. I have one implementation of the LPC half-working (write is working but read is buggy). I did not published my code for now, but I can publish it if you are interested.

[2021-04-10 19:30] Sjenja87 commented on #12
Actually I have only worked with VHDL in a limited capacity, and I kinda quick learned verilog by doing this project seems a bit more intuitive and easter to get in to.
On the LPC part I might not have to much time right now but we could try to coock something up. If I remember I tried to listen for the screen brightness control packages on the LPC bus after flashing the FPGA but I could only see

[2021-04-10 20:00] roddoart commented on #12
I have already implemented the lattice LPC layer in my design. The LPC performs read/write operations to some registers inside the FPGA. I will come back to you with more detailed information next week. Yeah it would be good if you can scope the LOC bus with a logic analyzer. That may help us to understand why my read is not working...

[2021-04-12 14:57] Sjenja87 commented on #12
I have just quickly hooked up the scope to the LPC bus and unfortunately i dont see any transfer of any data when the F1 and F2 keys are pressed, only when F5 and F6. So I dont get how the OS controls the brightness, maybe why you have problems reading ?

[2021-04-14 12:02] roddoart commented on #12
Hi @Sjenja87. Sorry for my late answer. Did you perform your measurements on the original apple GMUX ? According to our reverse analysis, the brightness control is managed by MacOS (or Linux) by writing a register inside the GMUX (Address 0x774) through the LPC bus. Before that, the OS reads a "Max_Brightness" constant value (register address 0x770), that allows it to calculate the different brigh

[2021-04-14 15:06] jacksonium commented on #12
@Sjenja87, I would like to supplement that we tested Romain's LPC code on linux and the brightness control sort of worked but it is intermittent due to the reading error of the max value(i.e. writing to 0x774 is ok but reading from it is not). We can also control the brightness by sending outb command directly to 0x774.

On original apple gmux, reading and writing to 0x774 would get, of course, co

[2021-04-14 20:30] Sjenja87 commented on #12
I will see if I can find time, I dont have a machine with a working GPU so I  may need to borrow one of a friend first so I can scope out the original GMUX communication. Im joining the Discord  to.

[2021-09-01 06:35] hajdutony commented on #6
Hi, I have problems with programming the gmux chip. When the PLT_RESET line is not grounded I will got read 0x00000000.
When I ground it, I will get 0xFFFFFFFE. I tried on two motherboards with same results. I am powering from magsafe charger.

I purchased the lattice programmer from aliexpressed and using diamond software.

I just cant read from that FPGA

Where could be problem?

[2021-09-01 06:37] richardstefun commented on #6
Just try it again and again and it will eventually be recognized

[2021-10-02 17:01] Ibrahim-monem commented on #4
Does anyone have gmux file for apple 820-2850-A uma convertion with lattice ?

[2021-11-02 22:12] danandrei96 commented on #8
hi! is this still being worked on?  My verilog is very rusty (no pun intended) but I would love to follow the development. Looks like the discord links are both expired

[2021-11-03 11:36] protocold commented on #8
i think most of us are no longer active but I do still see them online.. this is the new invite (https://discord.gg/4WADKsGx) so you can see what we have discussed so far and if you wish to pick it up from where it was left off and help debug the issue I can fill you in.

And if you read all the above, we were stuck at some odd issue where we can write to the register (to control brightness via or

[2022-02-13 11:14] daviewales commented on #12
You are all much smarter than I, so you have probably thought of this already (or discounted it as unrelated) —
@jacksonium says: "We can write to 0x774 but reading it out will always have different value.".

Could this possibly due to the ambient light sensor?
Specifically, the "Automatically adjust brightness" setting in the Displays system preferences?

<img width="352" alt="Screen Shot 2022-02

[2022-07-06 00:37] alediaz84 commented on #7
Hi! If anybody is having this issue the solution is to clone the repository with git, do not try to download the files directly from github.com. If the problem still remains, disable the antivirus.

I had this issue and doing this solved it.

BTW, ayilm1, thanks for sharing this!